<template>
   <br/>
   <div class="slds-media__body">
           <div class="slds-page-header__name">
               <div class="slds-page-header__name-title">
               <h2>
                   <span
                   class="slds-page-header__title slds-truncate"
                   title="General Information"
                   >Details</span
                   >
               </h2>
               </div>
           </div>
   </div>
<br/>
<lightning-record-edit-form object-api-name="Takedowns_Contingency_plan__c" data-id="generalForm" onsubmit={onRecordSubmit}>

   
</lightning-record-edit-form>
</template>